<?xml version="1.0"?>
<!--        /**-->
<!--        * @author DiggEcard Team-->
<!--        * @copyright Copyright (c) 2019 DiggEcard (https://diggecard.com)-->
<!--        */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Klarna\Base\Model\Checkout\Orderline\OrderLineFactory">
        <arguments>
            <argument name="instances" xsi:type="array">
                <item name="\Diggecard\KlarnaIntegration\Model\Checkout\Orderline\Items\Diggecard" xsi:type="object">\Diggecard\KlarnaIntegration\Model\Checkout\Orderline\Items\Diggecard</item>
            </argument>
        </arguments>
    </type>
</config>
